{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>

    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for msg in messages %}
                <tr>
                    <td>{{ msg.name }}</td>
                    <td><a href="mailto:{{ msg.email }}">{{ msg.email }}</a></td>
                    <td>{{ msg.message|length > 100 ? msg.message|slice(0, 100) ~ '...' : msg.message }}</td>
                    <td>{{ msg.createdAt|date('d/m/Y H:i') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center fst-italic">Aucun message pour le moment.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
