{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<h1>{{ page_title }}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Durée</th>
            <th>Date de début</th>
            <th>Formateur</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.title }}</td>
                <td>{{ training.duration }}</td>
                <td>{{ training.startDate|date('d/m/Y') }}</td>
                <td>{{ training.instructor }}</td>
                <td><a href="{{ path('training_show', {'id': training.id}) }}">Voir plus</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune formation disponible pour le moment.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
